<div class="row">
 <div class="col-md-8 offset-md-2 mb-5 mt-3">
<h2>New Listing</h2>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', listings_path, class: 'btn btn-secondary mt-3' %>
</div>
</div>
